@import "tailwindcss";

@theme {
  /* Colors */
  --color-origen: #1a1924;
  --color-silencio: #898a8a;
  --color-presencia: #ffffff;
  --color-detonante: #e21c22;
  --color-flujo: #e95021;
  --color-claridad: #f28c26;

  /* Fonts */
  --font-oswald: var(--font-oswald);
  --font-blackrush: var(--font-blackrush);
  --font-lato: var(--font-lato);
}

:root {
  --background: #1a1924;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Base styles for smoothness and custom cursor readiness */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html.lenis {
  height: auto;
}

.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis-stopped {
  overflow: hidden;
}

.lenis-scrolling iframe {
  pointer-events: none;
}
